.marketing {
  background-color:#ee7752;
  padding: 0.938em 0 0.938em 1em;
  
}

.marketing ul {
  display: flex;
  gap: 2rem;
  padding: 0;
  margin: 0 0 1em;
}

.marketing ul li {
  list-style-type: none;
  padding: 0;
}

.marketing a {
  display: flex;
  justify-content: flex-start;
  gap: 2em;
  text-decoration: none;
  color: #fff;
}

.github::before,
.linkedin::before,
.resume::before,
.coverletter::before {
  padding-right: 0.4em;
}

.resume,
.coverletter {
  font-weight: 400;
}

.btn-edit-marketing {
  background-color: #fff;
  border: none;
  color: #000;
  padding: 0.313em;
  font-size: 0.813em;
  font-weight: bold;
  border-radius: 0.313em;
  cursor: pointer;
}

  