.SingleProject-items-Container{
  border: .3em solid;
  justify-content: center;
  text-align: center;
  padding-left: 3vw;
  background-color:grey;
}
.ProjUpdates-container{
  display: flex;
  flex-direction: row;
  gap: 10px;

}

/* SingleProjects page CSS */
.SingleProject-Title-h1{
  width:28vw;
  text-align: center;
}
.SingleProject-Image{
  border: .3em solid rgb(255, 136, 0);
  overflow: auto;
  width:28vw;
  height:44.2vh;
  text-align: center;
  background-color:white;
}

.SingleProject-Description-Container{
  border: .3em solid purple;
  overflow: auto;
  width:28vw;
  height:45vh;
  text-align: left;
  word-wrap: break-word;
  background-color:white;
}
.SingleProject-Forms-Container{
  border: .3em solid orange;
  justify-content: center;
  text-align: center;
  width:35vw;

}
.SinglePoj-deleteBTN{
  margin-right: 10vw;
  margin-left: 9vw;
  justify-content: center;
  text-align: center;
}

/*Show Project page css  */
.Projects-HomePage-Container{
display: flex;
flex-direction: row;
border: .3em solid pink;
text-align: center;
margin-top: 1vw;

}



.ONEProj-HomePage-Container{
overflow: auto;
flex: 1;
height: 70vh;
width:30vw;
border: .3em solid green;
word-wrap: break-word;
text-align: center;
margin-top: 1vw;
margin-right: 1vw;
}


/* ShowUpdates page CSS */
.Main-ShowUpdates-Container{
  display: flex;
  flex-direction: column;
  border: .3em solid red;
  margin-top: 2vw;
  gap: 10px;
  padding: 10px;
}
.ShowUpdates-items-Container{
  border: .3em solid pink;

}
.ShowUpdates-Forms-Container{
  border: .3em solid orange;
  text-align: center;
}
#Update-Date{
float: right;
float: top;
border: .3em solid green;
}







