html {
  scroll-behavior: smooth;
}
.Main-SingleProject-Container{
  margin-top: 10vh;
  width:40vw;
}
.SingleProject-items-Container{
  margin-top: 10vh;
  border: .3em solid;
  justify-content: center;
  text-align: center;
  padding-left: 3vw;
  background-color:grey;
}
.ProjUpdates-container{
  display: flex;
  flex-direction: row;
  gap: 10px;

}

/* SingleProjects page CSS */
.SingleProject-Title-h1{
  width:28vw;
  text-align: center;
}
.SingleProject-Image{
  border: .3em solid rgb(255, 136, 0);
  overflow: auto;
  width:28vw;
  height:44.2vh;
  align-items: center;
  background-color:lightgrey;
}
.Single-Project-IMG{
  max-width:28vw;
  max-height:44.2vh;
}

.SingleProject-Description-Container{
  border: .3em solid purple;
  overflow: auto;
  width:28vw;
  height:45vh;
  text-align: left;
  word-wrap: break-word;
  background-color:white;
}
.SingleProject-Forms-Container{
  display: flex;
  flex-direction: column;
  border: .3em solid brown;
  background-color:white;
  text-align: center;
  width:35vw;

}
.SinglePoj-deleteBTN{
  margin-right: 10vw;
  margin-left: 12vw;
  justify-content: center;
  text-align: center;
}

/*Show Project page css  */
.Projects-HomePage-Container{
display: flex;
flex-direction: row;
border: .3em solid pink;
text-align: center;
margin-top: 1vw;
}

.Project-Link{
  text-decoration: none;
}


.ONEProj-HomePage-Container{
text-decoration: none;
color: black;
overflow: auto;
flex: 1;
height: 70vh;
width:30vw;
border: .3em solid green;
background-color:lightgrey;
word-wrap: break-word;
text-align: center;
margin-top: 1vw;
margin-right: 1vw;
}

.SHOW-Project-IMG{
  max-height:50vh;
  max-width:50vw; 
}

/* ShowUpdates page CSS */
.Main-ShowUpdates-Container{
  display: flex;
  flex-direction: column;
  border: .3em solid red;
  background-color:white;
  margin-top: 12vw;
  gap: 10px;
  padding: 10px;
}
.ShowUpdates-items-Container{
  border: .3em solid pink;
  word-wrap: break-word;
  pointer-events: none;

}
.ShowUpdates-Forms-Container{
  border: .3em solid orange;
  background-color:white;
  text-align: center;
}

#Update-Date{
  float: right;
  position: relative;
  top: 0;
  bottom:100%;
  border: .3em solid green;
}





/* SinlgeUpdateView */
.Main-SingleUpdate-Container{
  margin-top: 15vh;
}
