html {
  scroll-behavior: smooth;
}
.User-HomePAGE-Div{
  margin-top:15vh
}
.Profile-Container{
  border:  4px solid black;
}
.About-User-Container{
  border:  4px solid purple;
}
.Nav-option1 {
  position: fixed;
  top:0;
  width: 100%;
  margin: 10px;
    background-image: linear-gradient(45deg, #F78834 0%, #F27F4C 13%, #EC6653 25%, #DE4256 36%, #D4414E 50%, #B8328D 62%, #B43498 75%, #953FAF 86%, #525ECF 100%);
    opacity: .4;
    color: #cccccc;
    font-family: 'Francois One', sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    
  }
  
.Nav-option1 ul{
    text-align: center;
    margin: 0;
    padding: 30px 25px;
  }
  
.Nav-option1 ul li{
    list-style-type: none;
    display: inline;
  }
  
.Nav-option1 ul li a{
    color: #ffffff;
    text-decoration: none;
    margin: 0px 20px;
    padding: 20px;
    
  }
.Nav-option1 ul li a:hover{
    border-bottom: 4px solid #ffffff;
      border-top:  4px solid #ffffff;
  }
  
  
  
  
  