.contactbody{
    height: 1vh;
    text-align: center;
    font-size: 2em;
    padding: 0em 0;
    color: white;
    min-height:400px;


} 


/* .h1 {

} */
  .contact-container{
    background-color: rgb(55, 86, 15);
     height: 70; 
    padding: 1em;
    justify-content:space-around; 
 } 
      
 h1{
    font-weight:200;
    padding-top:0;
    margin-top:0;
    font-family: 'Roboto Slab', serif;

 }


 input {
    width: 58%;
    margin: 7px 0px;
    display: inline-block;
    padding: 9px 20px;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid lightgrey;
    font-size: 1em;
    font-family:inherit;
    background:white;
  }  








/* @media only screen and (max-width: 800px) */

/* .form-box {
    justify-content: center;
    align-items: center;
    background: whitesmoke; 
} */

/* h1{
    font-weight:400;
    padding-top:0;
    margin-top:0;
    font-family: 'Roboto Slab', serif;
} */

/* .button {
    background: rgb(237, 40, 70);
    border-radius: 5px;
    padding: 15px 25px;
    display: inline-block;
    margin: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    box-shadow:0px 2px 5px rgb(0,0,0,0.5);
} */